name: Build maven

on:
  push:
  
  pull_request:
    types: [ opened, edited, reopened, review_requested ]
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Build with Maven
        run: mvn -B package --file pom.xml
      # - run: mkdir staging && cp target/*.jar staging
      # - uses: actions/upload-artifact@v2
      #  with:
      #    name: jarfiles
      #    path: staging
