name: release_with_jars

on:
  workflow_dispatch
      
jobs:
  build_release:
    name: build_release_8
    runs-on: ubuntu-latest
    
    steps:
      - name: Check out neqsim java project
        uses: actions/checkout@v3
      - name: Set up JDK 8 environment
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '8'
          cache: 'maven'
      - name: Build java 8 version with Maven
        run: mvn -B package --file pomJava8.xml
      - name: Get file path of jar
        id: filepath
        run: echo "value=$(ls ./target/neqsim*-Java8.jar)"
      - name: Get file name of jar
        id: filename
        run: echo "value=$(ls ./target/neqsim*-Java8.jar | cut -f 3 -d "/")"
      - name: Get version number from jar file name
        id: version
        run: echo "value=$(ls ./target/neqsim*-Java8.jar | cut -f 2 -d "-")"
      - name: release
        uses: actions/create-release@v1
        id: create_release
        with:
          draft: true
          prerelease: false
          release_name: Release of version ${{ steps.version.outputs.value }}
          tag_name: v${{ steps.version.outputs.value }}a
        env:
          GITHUB_TOKEN: ${{ github.token }}
      - name: Upload java8 jar artifact
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ github.token }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ${{ steps.filepath.outputs.value }}
          asset_name: ${{ steps.filename.outputs.value }}
          asset_content_type: application/java-archive
