name: Create draft release with jar artifacts
# Workflow is triggered when pom-files are updated in master-branch.
# Packages jar-files in java 8 and java 11 environments if both pom-files have the same version number.
# If both versions are packaged correctly a draft release is made and the jar-files are added as artifacts.


on:
  workflow_dispatch:  
  push:
    branches:
    - master
    - main
    - release/*
    paths:
      - 'pom*.xml'

jobs:
  get_versions:
    name: Get version numbers from pom-files
    runs-on: ubuntu-latest
    
    outputs:
      version_8: ${{ steps.java-8-fix.outputs.version }}
      version: ${{ steps.java.outputs.version }}
    
    steps:
    - name: Check out neqsim java project
      uses: actions/checkout@v3
    - name: Get version number for pomJava8.xml
      id: java-8
      uses: JActions/maven-version@v1.2.0
      with: 
        pom: ./pomJava8.xml 
    - name: Get version number for pom.xml
      id: java
      uses: JActions/maven-version@v1.2.0
      with: 
        pom: ./pom.xml
    - name: Fix java 8 version number
      id: java-8-fix
      run: echo "version=$(echo ${{ steps.java-8.outputs.version }} | cut -f 1 -d "-")" >> $GITHUB_OUTPUT
        
    - run: echo "Java 8 pom file version number ${{ steps.java-8.outputs.version }}"
    - run: echo "Java 8 pom file version number trimmed ${{ steps.java-8-fix.outputs.version }}"
    - run: echo "Java pom file version number ${{ steps.java.outputs.version }}"

  compile_java_8:
    name: Build Neqsim ${{ needs.get_versions.outputs.version_8 }} with java 8
    needs: get_versions
    
    if: ${{ needs.get_versions.outputs.version_8 == needs.get_versions.outputs.version }}
    runs-on: ubuntu-latest
       
    steps:
      - name: Check out neqsim java project
        uses: actions/checkout@v3
      - name: Set up JDK 8 environment
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '8'
          cache: 'maven'
      - name: Build java 8 version of Neqsim ${{ needs.get_versions.outputs.version_8 }} with Maven
        run: mvn -B package --file pomJava8.xml
      - name: Copy jar file to staging
        run: mkdir staging && cp target/neqsim*Java8.jar staging
      - uses: actions/upload-artifact@v2
        with:
          name: jarfiles
          path: staging
        
  compile_java_11:
    name: Build Neqsim ${{ needs.get_versions.outputs.version }} with java 11
    needs: get_versions

    if: ${{ needs.get_versions.outputs.version_8 == needs.get_versions.outputs.version }}
    runs-on: ubuntu-latest
    
    steps:
      - name: Check out neqsim java project
        uses: actions/checkout@v3
      - name: Set up JDK 11 environment
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '11'
          cache: 'maven'
      - name: Build java 11 version with Maven
        run: mvn -B package --file pom.xml
      - name: Copy jar file to staging
        run: mkdir staging && cp target/neqsim*.jar staging
      - uses: actions/upload-artifact@v2
        with:
          name: jarfiles
          path: staging
                    
  create_release:
    name: Create release v${{ needs.get_versions.outputs.version_8 }}
    runs-on: ubuntu-latest
    needs: [get_versions, compile_java_8, compile_java_11]
    
    steps:
      - name: Download jar files from artifacts
        uses: actions/download-artifact@v3.0.1
        with:
          name: jarfiles
        
      - name: Create release v${{ needs.get_versions.outputs.version_8 }}
        uses: ncipollo/release-action@v1.11.2
        with:
          name: NeqSim ${{ needs.get_versions.outputs.version_8 }}
          tag: v${{ needs.get_versions.outputs.version_8 }} 
          draft: true
          generateReleaseNotes: true          
          skipIfReleaseExists: true
          artifactErrorsFailBuild: true          
          artifacts: "*.jar"
          artifactContentType: application/java-archive
          
      - run: ls
          
      - name: Push files to another repository
        uses: dmnemec/copy_file_to_another_repo_action@v1.1.1
        env:
          API_TOKEN_GITHUB: ${{ secrets.API_TOKEN_GITHUB }}
        with:
          # Source file from the origin directory
          source_file: 'neqsim*Java8.jar'
          # Destination repository
          destination_repo: 'asmfstatoil/actions-testing'
          # Directory to push the file to
          destination_folder: './neqsim/lib/libj8'
          # branch to push file to, defaults to master
          destination_branch_create: NeqSim-jars-updated-${{ needs.get_versions.outputs.version_8 }} # optional
          # A custom message for the commmit
          commit_message:  'chore: updated java8-jar'
          
      - run: rm neqsim*Java8.jar          
      - name: Push files to another repository
        uses: dmnemec/copy_file_to_another_repo_action@v1.1.1
        env:
          API_TOKEN_GITHUB: ${{ secrets.API_TOKEN_GITHUB }}
        with:
          source_file: 'neqsim*.jar'
          destination_repo: 'asmfstatoil/actions-testing'
          destination_folder: './neqsim/lib'
          destination_branch_create: NeqSim-jars-updated-${{ needs.get_versions.outputs.version_8 }} # optional
          commit_message:  'chore: updated java-jar'
