name: Create release, package project and upload jar files to release, when pom-files are updated

on:
  workflow_dispatch:  
  push:
    branches:
    - master
    - main
    - release/*
    paths:
      - 'pom*.xml'

jobs:
  get_versions:
    name: Get version numbers from pom-files
    runs-on: ubuntu-latest
    
    outputs:
      version_8: ${{ steps.java-8.outputs.version }}
      version: ${{ steps.java.outputs.version }}
    
    steps:
    - name: Get version number for pomJava8.xml
      id: java-8
      uses: jactions/maven-version@v1
      with: 
        pom: ./pomJava8.xml
    - name: Get version number for pom.xml
      id: java
      uses: jactions/maven-version@v1
      with: 
        pom: ./pom.xml

  compile_java_8:
    name: Build with java 8
    needs: get_versions
    
    if: ${{ get_versions.version_8 }} == ${{ get_versions.version }}
    runs-on: ubuntu-latest
    
    outputs:
      version_8: ${{ steps.java-8.outputs.version }}
      version: ${{ steps.java.outputs.version }}
    
    steps:
      - name: Check out neqsim java project
        uses: actions/checkout@v3
      - name: Set up JDK 8 environment
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '8'
          cache: 'maven'
      - name: Build java 8 version with Maven
        run: mvn -B package --file pomJava8.xml
      - name: Copy build files to staging
        run: mkdir staging && cp target/neqsim*Java8.jar staging
      - uses: actions/upload-artifact@v2
        with:
          name: jarfiles
          path: staging
        
  compile_java_11:
    name: Build for java 11
    needs: get_versions

    if: ${{ get_versions.version_8 }} == ${{ get_versions.version }}

    runs-on: ubuntu-latest
    
    outputs:
      version_8: ${{ steps.java-8.outputs.version }}
      version: ${{ steps.java.outputs.version }}
    
    steps:
      - name: Check out neqsim java project
        uses: actions/checkout@v3
      - name: Set up JDK 11 environment
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '11'
          cache: 'maven'
      - name: Build java 11 version with Maven
        run: mvn -B package --file pom.xml
      - name: Copy build files to staging
        run: mkdir staging && cp target/neqsim*.jar staging
      - uses: actions/upload-artifact@v2
        with:
          name: jarfiles
          path: staging
                    
  create_release:
    runs-on: ubuntu-latest
    needs: [compile_java_8, compile_java_11]
    
    steps:
      - name: Create Release
        uses: ncipollo/release-action@v1.11.2
        with:
          name: Neqsim ${{ get_versions.version_8 }}
          tag: v${{ get_versions.version_8 }} 
          draft: true
          generateReleaseNotes: true
          
          skipIfReleaseExists: true
          artifactErrorsFailBuild: true
          
          artifacts: "staging/*.jar"
          artifactContentType: application/java-archive
