name: Create draft release with jar artifacts
# Workflow is triggered when any pom-file is updated in master-branch
# If both pom-files have the same version number it 
# - builds NeqSim-jars both in Java 8 and Java 11
# - creates a new release and uploads the jars as artifacts
# - makes a new branch in neqsimpython and updates the jar-files used there.

on:
  workflow_dispatch:  
  push:
    branches:
    - master
    - main
    - release/*
    paths:
      - 'pom*.xml'

jobs:
  get_versions:
    name: Get version numbers from pom-files
    runs-on: ubuntu-latest
    
    outputs:
      version_8: ${{ steps.java-8-fix.outputs.version }}
      version: ${{ steps.java.outputs.version }}
    
    steps:
    - name: Check out neqsim java project
      uses: actions/checkout@v3
    - name: Get version number for pomJava8.xml
      id: java-8
      uses: JActions/maven-version@v1.2.0
      with: 
        pom: ./pomJava8.xml 
    - name: Get version number for pom.xml
      id: java
      uses: JActions/maven-version@v1.2.0
      with: 
        pom: ./pom.xml
    - name: Fix java 8 version number
      id: java-8-fix
      run: echo "version=$(echo ${{ steps.java-8.outputs.version }} | cut -f 1 -d "-")" >> $GITHUB_OUTPUT
  
  compile_java_8:
    name: Build Neqsim ${{ needs.get_versions.outputs.version_8 }} with java 8
    needs: get_versions
    
    if: ${{ needs.get_versions.outputs.version_8 == needs.get_versions.outputs.version }}
    runs-on: ubuntu-latest
       
    steps:
      - name: Check out neqsim java project
        uses: actions/checkout@v3
      - name: Set up JDK 8 environment
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '8'
          cache: 'maven'
      - name: Build java 8 version of Neqsim ${{ needs.get_versions.outputs.version_8 }} with Maven
        run: mvn -B package --file pomJava8.xml
      - name: Copy jar file to staging
        run: mkdir staging && cp target/neqsim*Java8.jar staging
      - uses: actions/upload-artifact@v2
        with:
          name: jarfiles
          path: staging
        
  compile_java_11:
    name: Build Neqsim ${{ needs.get_versions.outputs.version }} with java 11
    needs: get_versions

    if: ${{ needs.get_versions.outputs.version_8 == needs.get_versions.outputs.version }}
    runs-on: ubuntu-latest
    
    steps:
      - name: Check out neqsim java project
        uses: actions/checkout@v3
      - name: Set up JDK 11 environment
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '11'
          cache: 'maven'
      - name: Build java 11 version with Maven
        run: mvn -B package --file pom.xml
      - name: Copy jar file to staging
        run: mkdir staging && cp target/neqsim*.jar staging
      - uses: actions/upload-artifact@v2
        with:
          name: jarfiles
          path: staging
                    
  create_release:
    name: Create release v${{ needs.get_versions.outputs.version_8 }}
    runs-on: ubuntu-latest
    needs: [get_versions, compile_java_8, compile_java_11]
    
    steps:
      - name: Download jar files from artifacts
        uses: actions/download-artifact@v3.0.1
        with:
          name: jarfiles
        
      - name: Create release v${{ needs.get_versions.outputs.version_8 }}
        uses: ncipollo/release-action@v1.11.2
        with:
          name: NeqSim ${{ needs.get_versions.outputs.version_8 }}
          tag: v${{ needs.get_versions.outputs.version_8 }} 
          draft: true
          generateReleaseNotes: true          
          skipIfReleaseExists: true
          artifactErrorsFailBuild: true          
          artifacts: "*.jar"
          artifactContentType: application/java-archive
          
      - name: Remove a path from another repository
        uses: kafkasl/delete_from_another_repo@0.0.1
        with:
          path: lib
          destination_repo: 'asmfstatoil/neqsimpython'
          user_email: 'asmf@equinor.com'
          user_name: 'asmfstatoil'
          destination_branch_create: NeqSim-jars-updated-${{ needs.get_versions.outputs.version_8 }} # optional
          commit_message: "chore: delete old jar-files"
      
      - run: mkdir lib && cp *.jar lib/ 
      - run: cd lib && mkdir libj8 && mv *Java8.jar libj8/ && cd ..
      
      # Will fail if branch NeqSim-jars-updated-N.N.N already exists
      - name: Push files to neqsimpython repo
        uses: dmnemec/copy_file_to_another_repo_action@v1.1.1
        env:
          API_TOKEN_GITHUB: ${{ secrets.API_TOKEN_GITHUB }}
        with:
          source_file: lib
          destination_repo: 'asmfstatoil/neqsimpython'
          destination_folder: neqsim/
          destination_branch: NeqSim-jars-updated-${{ needs.get_versions.outputs.version_8 }}
          commit_message:  'chore: updated jar-files'
          user_email: 'asmf@equinor.com'
          user_name: 'asmfstatoil'
        
