name: Verify builds

on:
  push:
    branches: # Only run for changes in master branch and any releases branch
      - master
      - 'releases/**'
    paths: # Only run if java-file is updated
      - '*.java' 
    pull_request:
      branches: 
        - master

jobs:
  test_java_8:
    name: Verify package builds with java 8
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 8
        uses: actions/setup-java@v3
      with:
          distribution: 'temurin'
          java-version: '8'
          cache: 'maven'
      - name: Test with Maven
        run: mvn -B test --file pomJava8.xml
  
  test_java:
    name: Verify package builds 
    runs-on: ubuntu-latest
    needs: test_java_8 # Skip if java-8 tests fails

    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '11'
          cache: 'maven'
      - name: Test with Maven
        run: mvn -B test --file pom.xml

  test_javadoc:
    name: Verify that javadoc can be built
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '11'
          cache: 'maven'
      - name: Test with Maven
        run: mvn javadoc:javadoc
