name: Run build, test and javadoc

on:
  workflow_dispatch:  
  push:
    branches: # Only run for changes in master branch and any releases branch
      - master
      - 'releases/**'
  pull_request:
    branches: 
      - master

jobs:
  test_java_11:
    name: Assert tests and javadoc with Java 11 on Ubuntu
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 11
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '11'
          cache: 'maven'
      - name: Generate javadoc
        run: mvn javadoc:javadoc
      - name: Run tests
        run: mvn -B test --file pom.xml -ntp
      - name: Create coverage report from jacoco execution data
        run: mvn -B jacoco:report -ntp
      - name: Upload jacoco coverage reports to Codecov
        uses: codecov/codecov-action@v5
        with:
          file: jacoco.xml
          name: codecov
          token: ${{ secrets.CODECOV_TOKEN }}

  test_java_8:
    name: Assert tests with Java 8 on Ubuntu
    runs-on: ubuntu-latest    
    needs: test_java_11
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 8
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '8'
          cache: 'maven'
      - name: Run tests
        run: mvn -B test --file pomJava8.xml -ntp

  test_java_21:
    name: Assert tests with Java 21 on Ubuntu
    runs-on: ubuntu-latest
    needs: test_java_11
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'
          cache: 'maven'
      - name: Run tests
        run: mvn -B test --file pomJava21.xml -ntp

  test_java_11_windows:
    name: Assert tests with Java 11 on Windows
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 11
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '11'
          cache: 'maven'
      - name: Run tests
        run: mvn -B test --file pom.xml -ntp

  test_java_8_windows:
    name: Assert tests with Java 8 on Windows
    runs-on: windows-latest    
    needs: test_java_11_windows
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 8
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '8'
          cache: 'maven'
      - name: Run tests
        run: mvn -B test --file pomJava8.xml -ntp

  test_java_21_windows:
    name: Assert tests with Java 21 on Windows
    runs-on: windows-latest
    needs: test_java_11_windows
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'
          cache: 'maven'
      - name: Run tests
        run: mvn -B test --file pomJava21.xml -ntp
